[global settings]
handle = "Content\Settings"

[sitePicker]
==
{% set sites = sitePicker.sites %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<meta name="turbo-visit-control" content="disable" />

{% partial 'assets'  %}

{% if section is empty  %}
    
    {% if this.page.url == '/' %}
    
        {% set section = settings.homepage %}
        {# Primary Meta Tags #}
        <title>{{ section.meta_title ~ ' - ' ~ settings.website_name }}</title>
        <meta name="title" content="{{ section.meta_title ~ ' - ' ~ settings.website_name }}">
        <meta name="description" content="{{ section.meta_description }}">
        {% if section.meta_keywords|length %}
            <meta name="keywords" content="{{ section.meta_keywords }}">
        {% endif %}
        {% if section.canonical_url|length %}
            <link rel="canonical" href="{{ section.canonical_url }}">
        {% endif %}
        {% for site in sites %}
            {% if this.site.id != site.id %}
                <link rel="alternate" href="{{ site.url }}" hreflang="{{ site.route_prefix|replace({'/' : ''}) }}">
            {% endif %}
        {% endfor %}
        
        {# Robot Info #}
        {% if section.robots|length %}
            <meta name="robots" content="{% for item in section.robots %}{{ item }}{{ not loop.last ? ', ' }}{% endfor %}">
        {% endif %}
        
        
        {# Open Graph / Facebook #}
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ ''|app }}">
        <meta property="og:title" content="{{ section.meta_title ~ ' - ' ~ settings.website_name }}">
        <meta property="og:description" content="{{ section.meta_description }}">
        {% if section.sharing_image|length %}
            <meta property="og:image" content="{{ section.sharing_image|media|resize(1200, 627, {mode: 'crop'}) }}">
        {% endif %}
        
        {# Twitter #}
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="{{ ''|app }}">
        <meta property="twitter:title" content="{{ section.meta_title ~ ' - ' ~ settings.website_name }}">
        <meta property="twitter:description" content="{{ section.meta_description }}">
        {% if section.sharing_image|length %}
            <meta property="twitter:image" content="{{ section.sharing_image|media|resize(1200, 627, {mode: 'crop'}) }}">
        {% endif %}
    {% else %}
        {# Primary Meta Tags #}
        <title>{{ this.page.meta_title ~ ' - ' ~ settings.website_name }}</title>
        <meta name="title" content="{{ this.page.meta_title ~ ' - ' ~ settings.website_name }}">
        <meta name="description" content="{{ this.page.meta_description }}">
        {% if section.canonical_url|length %}
            <link rel="canonical" href="{{ section.canonical_url }}">
        {% endif %}
        
        {% for site in sites %}
            {% if this.site.id != site.id %}
                <link rel="alternate" href="{{ site.url }}" hreflang="{{ site.route_prefix|replace({'/' : ''}) }}">
            {% endif %}
        {% endfor %}
        
        
        {# Open Graph / Facebook #}
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ ''|app }}">
        <meta property="og:title" content="{{ this.page.meta_title ~ ' - ' ~ settings.website_name }}">
        <meta property="og:description" content="{{ this.page.meta_description }}">
        
        {# Twitter #}
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="{{ ''|app }}">
        <meta property="twitter:title" content="{{ this.page.meta_title ~ ' - ' ~ settings.website_name }}">
        <meta property="twitter:description" content="{{ this.page.meta_description }}">
    {% endif %}

{% else %}
    
    {# Primary Meta Tags #}
    <title>{{ section.meta_title ~ ' - ' ~ settings.website_name }}</title>
    <meta name="title" content="{{ section.meta_title ~ ' - ' ~ settings.website_name }}">
    <meta name="description" content="{{ section.meta_description }}">
    {% if section.meta_keywords|length %}
        <meta name="keywords" content="{{ section.meta_keywords }}">
    {% endif %}
    
    {# Robot Info #}
    {% if section.robots|length %}
        <meta name="robots" content="{% for item in section.robots %}{{ item }}{{ not loop.last ? ', ' }}{% endfor %}">
    {% endif %}
    
    {# Open Graph / Facebook #}
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ ''|app }}">
    <meta property="og:title" content="{{ section.meta_title ~ ' - ' ~ settings.website_name }}">
    <meta property="og:description" content="{{ section.meta_description }}">
    {% if section.sharing_image|length %}
        <meta property="og:image" content="{{ section.sharing_image|media|resize(1200, 627, {mode: 'crop'}) }}">
    {% endif %}
    
    {# Twitter #}
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{ ''|app }}">
    <meta property="twitter:title" content="{{ section.meta_title ~ ' - ' ~ settings.website_name }}">
    <meta property="twitter:description" content="{{ section.meta_description }}">
    {% if section.sharing_image|length %}
        <meta property="twitter:image" content="{{ section.sharing_image|media|resize(1200, 627, {mode: 'crop'}) }}">
    {% endif %}

{% endif  %}

{% styles %}

{# Favicons #}
{% if settings.favicon %}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ settings.favicon|media|resize(180) }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ settings.favicon|media|resize(32) }}" id="light-scheme-icon-32">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ settings.favicon|media|resize(16) }}" id="light-scheme-icon-16">

    {% if settings.favicon_dark|length %}
        <link rel="icon" type="image/png" sizes="32x32" href="{{ settings.favicon_dark|media|resize(32) }}" id="dark-scheme-icon-32">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ settings.favicon_dark|media|resize(16) }}" id="dark-scheme-icon-16">
        {% put scripts %}
            <script>
                
                let light_scheme_icon_32 = document.querySelector('link#light-scheme-icon-32');
                let light_scheme_icon_16 = document.querySelector('link#light-scheme-icon-16');
                let dark_scheme_icon_32  = document.querySelector('link#dark-scheme-icon-32');
                let dark_scheme_icon_16  = document.querySelector('link#dark-scheme-icon-16');
                
                function onUpdate() {
                    if (matcher.matches) {
                        light_scheme_icon_32.remove();
                        light_scheme_icon_16.remove();
                        document.head.append(dark_scheme_icon_32);
                        document.head.append(dark_scheme_icon_16);
                    } else {
                        document.head.append(light_scheme_icon_32);
                        document.head.append(light_scheme_icon_16);
                        dark_scheme_icon_32.remove();
                        dark_scheme_icon_16.remove();
                    }
                }
                
                let matcher = window.matchMedia('(prefers-color-scheme: dark)');
                matcher.addListener(onUpdate);
                onUpdate();
            </script>
        {% endput %}
    {% endif %}
{% endif %}

{# Header Code Placeholders #}
{{ settings.header_code|raw }}
{% placeholder header_code %}