<section 
        class="{{ section.style == 'light' ? 'bg-light' }} 
        {{ section.style == 'dark' ? 'bg-dark text-white' }} 
        {{ section.disable_top_spacing == true ? 'pt-0' : "pt-4" }} 
        {{ section.disable_bottom_spacing == true ? 'pb-0' : "pb-4" }}"
>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 mx-auto">
                <div class="card">
                    <div class="card-body">
                        {% partial 'tailor_modules/form' content=section %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>