<section class="{{ section.style == 'light' ? 'bg-light' }}{{ section.style == 'dark' ? 'bg-dark' }}">
    <div class="container">
        <div class="row row-cols-lg-{{ section.columns|length }} row-cols-1 mx-auto">
            {% for column in section.columns %}
                <div class="col mb-5 {{ column.position }} {{ column.width|length ? "col-lg-" ~ column.width : '12' }}">
                    {# Content Column Group #}
                    {% if column.content_group == "content" %}
                        {{ column.content|raw }}
                        {% if column.buttons|length %}
                            <div class="d-flex justify-content-{{ column.buttons_position }} my-2">
                                {% for button in column.buttons %}
                                    {% if button.item_type == "url" %}
                                        <a
                                                href="{{ button.url|raw }}"
                                                class="btn btn-{{ button.style }} {{ not loop.last ? "me-2" }}"
                                                {{ button.external == true ? 'target="_blank"' }}
                                        >
                                            {{ button.title }}
                                        </a>
                                    {% endif %}
                                    {% if button.item_type == "page" %}
                                        <a
                                                href="{{ 'page'|page({ page: button.page.slug }) }}"
                                                class="btn btn-{{ button.style }} {{ not loop.last ? "me-2" }}"
                                                {{ button.external == true ? 'target="_blank"' }}
                                        >
                                            {{ button.title }}
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endif %}
                    {# Button Column Group #}
                    {% if column.content_group == "buttons" %}
                        {% if column.buttons|length %}
                            <div class="d-flex justify-content-{{ column.buttons_position }} my-2">
                                {% for button in column.buttons %}
                                    {% if button.item_type == "url" %}
                                        <a
                                                href="{{ button.url|raw }}"
                                                class="btn btn-{{ button.style }} {{ not loop.last ? "me-2" }}"
                                                {{ button.external == true ? 'target="_blank"' }}
                                        >
                                            {{ button.title }}
                                        </a>
                                    {% endif %}
                                    {% if button.item_type == "page" %}
                                        <a
                                                href="{{ 'page'|page({ page: button.page.slug }) }}"
                                                class="btn btn-{{ button.style }} {{ not loop.last ? "me-2" }}"
                                                {{ button.external == true ? 'target="_blank"' }}
                                        >
                                            {{ button.title }}
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endif %}
                    {# Image Column Group #}
                    {% if column.content_group == "image" %}
                        <img src="{{ column.image|media }}" alt="{{ image.alt }}" class="img-fluid">
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</section>