[global settings]
handle = "Content\Settings"
==
<?php
    function onStart() {
        $this['backend_uri'] = env('BACKEND_URI', '/admin');
    }
?>
==
{% if settings.stripe_public_key is empty or settings.stripe_public_key is empty or settings.stripe_webhook_secret_key is empty %}
    <div class="alert alert-warning d-flex align-items-center" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="currentColor" class="bi bi-exclamation-square-fill me-2" viewBox="0 0 16 16">
            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </svg>
        <div>
            Your Stripe Keys are not set! <strong>The shop won't work unless you set them.</strong> Set them in the backend under <a href="{{ '/'|app }}/{{ backend_uri }}/tailor/globals/content_settings#primarytab-stripe" class="text-decoration-none"><pre class="mb-0">Settings > Settings > Stripe</pre></a>
        </div>
    </div>
{% endif %}