[global settings]
handle = "Content\Settings"
==
{% set heroImage = '' %}
{% set heroImageAlt = '' %}

{% if section.image_type == "media_library" %}
    {% set heroImage = section.image %}
    {% set heroImageAlt = section.image_description %}
{% endif %}

{% if section.image_type == "product_category_image" %}
    {% if section.product_category.image|length %}
        {% set heroImage = section.product_category.image %}
    {% endif %}
    {% set heroImageAlt = section.product_category.title %}
{% endif %}

{% if section.image_type == "blog_category_image" %}
    {% if section.blog_category.image|length %}
        {% set heroImage = section.blog_category.image %}
    {% endif %}
    {% set heroImageAlt = section.blog_category.title %}
{% endif %}

<{{ section.html_tag == "default" ? "header" : section.html_tag }} {{ section.html_anchor|length ? 'id=' ~  section.html_anchor  ~ '' }}
        class="hero
               {{ section.size == 'small' ? 'small-hero' }} 
               bg-dark 
               overflow-hidden 
               d-flex 
               align-items-center 
               text-light 
               position-relative 
               py-4 
               {% if section.css_classes|length %}
                    {% for class in section.css_classes|split(',') %}
                        {{ class ~ ' ' }}
                    {% endfor %}
               {% endif %}"
>
    <div class="{{ section.container_style }} position-relative" style="z-index: 1">
        <div class="row">
            <div class="col-12 {{ section.position == 'center' ? 'text-center' : 'col-lg-6' }}">
                {{ section.content|raw }}
                {% if section.buttons|length %}
                    {% partial 'builder/globals/buttons' section=section %}
                {% endif %}
            </div>
        </div>
    </div>
    {% if heroImage|length %}
        <div class="hero-media position-absolute bg-dark position-absolute top-0 start-0 bottom-0 end-0 w-100" style="z-index: 0">
            <img class="w-100 h-100 opacity-25" style="object-fit: cover; object-position: center" src="{{ heroImage|media|resize(1920) }}" alt="{{ heroImageAlt }}">
        </div>
    {% endif %}
</{{ section.html_tag == "default" ? "header" : section.html_tag }}>
