[collection posts]
handle = "Blog\Posts"

[global settings]
handle = "Content\Settings"
==
{% if settings.enable_blog == true %}

    {% set sort_order = section.reverse_order ? 'desc' : 'asc' %}

    {% if section.show_specific_items %}
        {% set posts = collect() %}
        {% for post in section.specific_items %}
            {% if post.item is not empty %}
                {% do posts.push(post.item) %}
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if section.filter_by_category %}
        {% set posts = posts.whereRelation('categories', 'id', section.post_category_filter.id) %}
    {% endif %}

    {% if section.sort_by == 'title' %}
        {% if section.show_specific_items %}
            {% if sort_order == 'asc' %}
                {% set posts = posts.sortBy('title') %}
            {% else %}
                {% set posts = posts.sortBy('title')|reverse %}
            {% endif %}
        {% else %}
            {% set posts = posts.orderBy('title', sort_order) %}
        {% endif %}
    {% endif %}

    {% if section.sort_by == 'date' %}
        {% if section.show_specific_items %}
            {% if sort_order == 'asc' %}
                {% set posts = posts.sortBy('published_at_date') %}
            {% else %}
                {% set posts = posts.sortBy('published_at_date')|reverse %}
            {% endif %}
        {% else %}
            {% set posts = posts.orderBy('published_at_date', sort_order) %}
        {% endif %}
    {% endif %}

    {% if section.enable_pagination %}
        {% set posts = posts.paginateCustom(section.limit, "posts") %}
    {% else %}
        {% if not section.show_specific_items %}
            {% set posts = posts.limit(section.limit).get() %}
        {% endif %}
    {% endif %}

    <{{ section.html_tag == "default" ? "section" : section.html_tag }} 
            {{ section.html_anchor|length ? 'id="' ~  section.html_anchor  ~ '"' }}
            class="{% if section.css_classes|length %}
                        {% for class in section.css_classes|split(',') %}
                            {{ class ~ ' ' }}
                        {% endfor %}
                   {% endif %}
                   {{ section.style == 'light' ? 'bg-light' }} 
                   {{ section.style == 'dark' ? 'bg-dark text-white' }} 
                   {{ section.disable_top_spacing == true ? 'pt-0' : "pt-4" }} 
                   {{ section.disable_bottom_spacing == true ? 'pb-0' : "pb-4" }}"
    >
        <div class="{{ section.container_style }}">
            <div class="row row-cols-lg-{{ section.enable_pagination ? section.limit }}">
                {% for post in posts %}
                    <div class="col{{ section.show_specific_items ? '-12 col-lg-' ~ section.specific_items_columns : (section.limit > 4 ? "-12 col-lg-3")  }} mb-4">
                        <div class="card h-100">
                            {% if post.image|length %}
                                <a href="{{ 'post'|page({ slug: post.slug }) }}" class="card-img-top">
                                    <img
                                            src="{{ post.image|media|resize(700, 400, {mode: 'crop'}) }}"
                                            alt="{{ post.title }}" class="card-img-top"
                                    >
                                </a>
                            {% endif %}
                            <div class="card-body d-flex flex-column h-100 align-items-start">
                                <h3 class="text-decoration-none text-dark fs-5">
                                    <a href="{{ 'post'|page({ slug: post.slug }) }}" class="text-decoration-none text-reset">{{ post.title }}</a>
                                </h3>
                                {% if post.author|length %}
                                    <a class="d-flex text-decoration-none text-dark mb-2" href="{{ 'author'|page({slug: post.author.slug}) }}">
                                        {% if post.author.avatar|length %}
                                            <img class="rounded-circle me-1" width="25px" src="{{ post.author.avatar|media|resize(25, 25, {mode: "crop"}) }}" alt="{{ post.author.title }}">
                                        {% endif %}
                                        <div>
                                            <span class="fs-6">By <span class="fw-semibold">{{ post.author.title }}</span></span>
                                        </div>
                                    </a>
                                {% endif %}
                                <p>{{ post.excerpt }}</p>
                                <a href="{{ 'post'|page({ slug: post.slug }) }}" class="btn btn-primary mt-auto">Read</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if section.enable_pagination %}
                <div class="d-flex justify-content-center">
                    {{ posts.links|raw }}
                </div>
            {% endif %}
        </div>
        {% if section.image|length %}
            <div class="hero-media position-absolute bg-dark position-absolute top-0 start-0 bottom-0 end-0 w-100" style="z-index: -1">
                <img class="w-100 h-100 opacity-25" style="object-fit: cover; object-position: center" src="{{ section.image|media|resize(1920) }}" alt="{{ section.image_description }}">
            </div>
        {% endif %}
    </{{ section.html_tag == "default" ? "section" : section.html_tag }}>
{% endif %}