[global settings]
handle = "Content\Settings"
==
{% if settings.enable_search == true %}
    <{{ section.html_tag == "default" ? "section" : section.html_tag }} 
            {{ section.html_anchor|length ? 'id="' ~  section.html_anchor  ~ '"' }}
            class="{% if section.css_classes|length %}
                        {% for class in section.css_classes|split(',') %}
                            {{ class ~ ' ' }}
                        {% endfor %}
                {% endif %}
                {{ section.style == 'light' ? 'bg-light' }} 
                {{ section.style == 'dark' ? 'bg-dark text-white' }} 
                {{ section.disable_top_spacing == true ? 'pt-0' : "pt-4" }} 
                {{ section.disable_bottom_spacing == true ? 'pb-0' : "pb-4" }}
                position-relative"
    >
        <div class="{{ section.container_style }}">
            {% set searchPage = section.search_page|length ? 'page'|page({fullslug: section.search_page.fullslug }) : 'page'|page({fullslug: settings.default_search_page.fullslug })  %}
            <form action="{{ searchPage }}" method="get">
                <div class="input-group mb-3">
                    <input type="text" name="term" class="form-control" placeholder="{{ section.search_field_placeholder }}" aria-label="{{ section.search_field_placeholder }}">
                    {% for entry in section.entries_to_search %}
                        <input type="hidden" name="{{ entry }}" value="true">
                    {% endfor %}
                    <input type="hidden" name="global" value="false">
                    <button class="btn btn-primary" type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                    </button>
                </div>
            </form>
        </div>
        {% if section.image|length %}
            <div class="hero-media position-absolute bg-dark position-absolute top-0 start-0 bottom-0 end-0 w-100" style="z-index: -1">
                <img class="w-100 h-100 opacity-25" style="object-fit: cover; object-position: center" src="{{ section.image|media|resize(1920) }}" alt="{{ section.image_description }}">
            </div>
        {% endif %}
    </{{ section.html_tag == "default" ? "section" : section.html_tag }}>
{% endif %}