{% if cart_items|length %}
    {% set cart_count = 0 %}
    {% for item in cart_items %}
        {% set cart_count = cart_count+1 %}
    {% endfor %}
    <button type="button" class="btn btn-primary rounded-pill d-flex align-items-center" onclick="onCartShow()">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-bag-fill" viewBox="0 0 16 16">
            <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5z"/>
        </svg>
        <span class="badge rounded-pill bg-danger ms-2">
            {{ cart_count }}<span class="visually-hidden">You have {{ cart_count }} item{{ cart_count > 1 ? 's'}} in your cart</span>
        </span>
    </button>
{% endif %}