<div class="alert alert-warning alert-dismissible fade show d-flex align-items-center justify-content-between">
    <div class="d-flex flex-lg-row flex-column justify-content-between align-items-start align-items-lg-center w-100">
        <span>You have all the available items for this product in your cart.</span>
        <button onclick="onCartShow()" class="btn btn-dark ms-lg-auto ms-0 mt-3 mt-lg-0">View Cart</button>
    </div>
    <button type="button" class="btn-close m-auto bottom-0" aria-label="Close" data-bs-dismiss="alert" style="z-index: 0"></button>
</div>