url = "/"
layout = "default"
title = "Index"

[global settings]
handle = "Content\Settings"
==
{% set page = settings.homepage %}

{% put header_code %}
    {{ page.header_code|raw }}
{% endput %}

{% put body_code %}
    {{ page.body_code|raw }}
{% endput %}

{% put footer_code %}
    {{ page.footer_code|raw }}
{% endput %}

{% if settings.homepage is empty %}
    {% do abort('404') %} 
{% else %}

    {% if page.entry_type == 'simple' %}
        <header class="hero bg-dark overflow-hidden d-flex align-items-center text-light position-relative py-4 mb-4">
            <div class="container position-relative" style="z-index: 1">
                <div class="row">
                    <div class="col-12 text-center">
                        <h1>{{ page.title }}</h1>
                    </div>
                </div>
            </div>
            {% if page.image|length %}
                <div class="hero-media position-absolute bg-dark position-absolute top-0 start-0 bottom-0 end-0 w-100 opacity-50" style="z-index: 0">
                    <img src="{{ page.image|media|resize(1920) }}" alt="{{ page.title }}" class="w-100 h-100" style="object-fit: cover; ">
                </div>
            {% endif %}
        </header>
        <section>
            <div class="container">
                {{ page.content|raw }}
            </div>
        </section>
    {% endif %}
    
    {% if page.entry_type == 'builder' %}
        {% for section in page.builder %}
            {% partial 'builder/items' section=section %}
        {% endfor %}
    {% endif %}
{% endif %}