url = "/"
layout = "default"
title = "Index"

[section]
handle = "Content\Page"

[global]
handle = "Content\Settings"
==
{% set page = global.homepage %}

{% if global.homepage is empty %}
    {% do redirect('404') %}
{% else %}

    {% if page.entry_type == 'simple' %}
        <header class="hero smaller">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h1 class="text-uppercase">{{ page.title }}</h1>
                    </div>
                </div>
            </div>
            <div class="hero-overlay"></div>
            <div class="hero-media">
                {% if page.image|length %}
                    <img src="{{ page.image|media|resize(1920) }}" alt="{{ page.title }}">
                {% endif %}
            </div>
        </header>
        <section>
            <div class="container">
                {{ page.content|raw }}
            </div>
        </section>
    {% endif %}
    
    {% if page.entry_type == 'builder' %}
        {% for section in page.builder %}
            {# Hero #}
            {% if section.content_group == 'hero' %}
                {% partial 'builder/hero' section=section %}
            {% endif %}
            {# Section #}
            {% if section.content_group == 'section' %}
                {% partial 'builder/section' section=section %}
            {% endif %}
            {# Events #}
            {% if section.content_group == 'events' %}
                {% partial 'builder/events' section=section %}
            {% endif %}
             {# Products #}
            {% if section.content_group == 'products' %}
                {% partial 'builder/products' section=section %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endif %}