url = "/products/:product"
layout = "product"
title = "Product"

[section]
handle = "Content\Product"
entrySlug = "{{ :product }}"
entryDefault = 1
fullSlug = 0
==
{% set product = section %}

{% if product is empty %}
    {% do redirect('404') %}
{% else %}
    <header class="product d-flex align-items-center py-4">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    {% for image in product.images|slice(0,1) %}
                        <img
                                class="img-fluid w-100 mb-4"
                                src="{{ image.path|resize(700, 700, {mode: "crop"}) }}"
                                alt="{{ image.description|length ? image.title ~ ' - ' ~ image.description : image.title }}"
                        >
                    {% endfor %}
                    <div class="row row-cols-5">
                        {% for image in product.images|slice(0,1) %}
                            <div class="col">
                                <img
                                        class="img-fluid w-100 mb-4"
                                        src="{{ image.path|resize(200, 200, {mode: "crop"}) }}"
                                        alt="{{ image.description|length ? image.title ~ ' - ' ~ image.description : image.title }}"
                                >
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <h1>{{ product.title }}</h1>
                    <h2>${{ product.price }}</h2> {# TODO: Update price with AJAX #}
                    <p>{{ product.short_description|nl2br }}</p>
                    <form>
                        {# Insert the product details into the form #}
                        <input type="hidden" name="name" value="{{ product.title }}">
                        <input type="hidden" name="price" value="{{ product.price }}">
                        <input type="hidden" name="description" value="{{ product.short_description }}">
                        {% for image in product.images|slice(0,1)  %}
                            <input type="hidden" name="image" value="{{ image.path|resize(700, 700, {mode: 'crop'}) }}">
                        {% endfor %}
                        
                        {# Check if Variant Options exist #}
                        {% if product.content_group == "variant" %}
                            {# if so, loop over the blocks in the variants section #}
                            {% for variant in product.variants %}
                                {# Check if variant is a property set #}
                                {% if variant.content_group == "property_set" %}
                                    {# if variant is dropdown, init select box, then loop over options in the property set #}
                                    {% if variant.property.content_group == "dropdown" %}
                                        <label for="{{ variant.property.slug }}">{{ variant.property.title }}:</label>
                                        <select class="form-select mb-4" name="{{ variant.property.title|lower }}" id="{{ variant.property.slug }}">
                                            {% for option in variant.property.items %}
                                                <option value="{{ variant.property.title }}: {{ option.title }}">{{ option.title }}</option>
                                            {% endfor %}
                                        </select>
                                    {% endif %}
                                    {# if variant is color, init radios, then loop over options in the property set #}
                                    {% if variant.property.content_group == "colors" %}
                                        <div class="d-flex align-items-center mb-3">
                                            <label class="me-2">{{ variant.property.title }}:</label>
                                            {% for color in variant.property.color %}
                                                <input
                                                        type="radio"
                                                        class="btn-check"
                                                        value="{{ variant.property.title }}: {{ color.title }}"
                                                        name="{{ variant.property.slug }}"
                                                        id="{{ color.title|lower }}"
                                                        autocomplete="off"
                                                        {{ loop.first ? 'checked' }}
                                                >
                                                <label class="btn btn-outline-primary {{ not loop.last ? 'me-2' }}" for="{{ color.title|lower }}">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="{{ color.color }}" class="bi bi-square-fill" viewBox="0 0 16 16">
                                                        <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2z"/>
                                                    </svg>
                                                    &nbsp;{{ color.title }}
                                                </label>
                                            {% endfor %}
                                        </div>
                                        
                                    {% endif %}
                                    
                                {% endif %}
                                
                                {# Check if variant is a custom property #}
                                {% if variant.content_group == "custom_properties" %}
                                    {# if variant is dropdown, init select box, then loop over options in the property set #}
                                    {% if variant.property_type == "dropdown" %}
                                        <label for="{{ variant.title|lower }}">{{ variant.title }}:</label>
                                        <select class="form-select mb-4" name="{{ variant.title|lower }}" id="{{ variant.title|lower }}">
                                            {% for option in variant.dropdown_items %}
                                                <option
                                                        value='{"option_title":"{{ variant.title }}: {{ option.title }}","price":"{{ option.price }}"}'
                                                        {{ option.quantity == 0 ? 'disabled' }}>
                                                    {{ option.title }}{{ option.quantity == 0 ? ' - Out of Stock' }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    {% endif %}
                                    {# if variant is color, init radios, then loop over options in the property set #}
                                    {% if variant.property_type == "color" %}
                                        <div class="d-flex align-items-center mb-3">
                                            <label class="me-2">{{ variant.title }}:</label>
                                            {% for color in variant.colors %}
                                                <input
                                                        type="radio"
                                                        class="btn-check"
                                                        name="{{ color.title|lower }}"
                                                        id="{{ color.title|lower }}"
                                                        autocomplete="off"
                                                        {{ color.quantity == 0 ? 'disabled' }}
                                                        value='{"option_title":"{{ variant.title }}: {{ color.title }}","price":"{{ color.price }}"}'
                                                        {% if color.quantity != 0 %}
                                                            {{ loop.first ? 'checked' }}
                                                        {% endif %}
                                                >
                                                <label class="btn btn-outline-primary {{ not loop.last ? 'me-2' }}" for="{{ color.title|lower }}">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="{{ color.color_hex }}" class="bi bi-square-fill" viewBox="0 0 16 16">
                                                        <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2z"/>
                                                    </svg>
                                                    &nbsp;{{ color.title }}{{ color.quantity == 0 ? ' - Out of Stock' }}
                                                </label>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <button data-request="onBuySubmit" class="btn btn-primary d-inline-flex align-items-center me-2" type="submit">
                            <svg class="bi bi-bag-check" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" style="font-size: 20px;">
                                <path fill-rule="evenodd" d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0z"></path>
                                <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"></path>
                            </svg>&nbsp;Buy
                        </button>
                        {# TODO: Add "Use Cart" switch logic #}
                        <button class="btn btn-outline-primary d-inline-flex align-items-center" type="submit"> {# TODO: Add onAddToCart() handler #}
                            <svg class="bi bi-bag-plus" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" style="font-size: 22px;">
                                <path fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z"></path>
                                <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"></path>
                            </svg>&nbsp;Add To Cart
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <section class="">
        <div class="container">
            {{ product.description|raw }}
        </div>
    </section>
{% endif %}