url = "/products/category/:product_category"
layout = "product"
title = "Product Category"

[section]
handle = "Content\Product\Category"
entrySlug = "{{ :product_category }}"

[collection products]
handle = "Content\Product"

[global settings]
handle = "Content\Settings"
==
{% set category = section %}

{% set products = products.whereRelation('categories', 'slug', section.slug).paginate(12) %}

{% set keys_set = true %}
{% if settings.stripe_public_key is empty or settings.stripe_public_key is empty or settings.stripe_webhook_secret_key is empty %}
    {% set keys_set = false %}
    <section>
        <div class="container">
            <div class="alert alert-warning d-flex align-items-center" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="currentColor" class="bi bi-exclamation-square-fill me-2" viewBox="0 0 16 16">
                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>
                <div>
                    Your Stripe Keys are not set! <strong>The shop won't work unless you set them.</strong> Set them in the backend under <pre class="mb-0">Content > Settings > Stripe</pre>
                </div>
            </div>
        </div>
    </section>
{% endif %}
<header>
    <div class="container">
        <h1 class="text-center">{{ category.title }}</h1>
    </div>
</header>
<div class="section">
    <div class="container">
        <div class="row row-cols-lg-4">
            {% for product in products %}
                <div class="col mb-4">
                    <a href="{{ 'product'|page({ product: product.slug }) }}" class="d-block text-decoration-none">
                        <div class="card">
                            <img
                                    src="{% for image in product.images|slice(0,1) %}{{ image.path|resize(400, 400, {mode: 'crop'}) }}{% endfor %}"
                                    alt="{{ product.title }}" class="card-img-top"
                            >
                            <div class="card-body d-flex justify-content-between">
                                <h3 class="text-decoration-none text-dark fs-5">{{ product.title }}</h3>
                                <span class="text-decoration-none text-dark fw-bold">${{ product.price }}</span>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="section">
    <div class="container d-flex justify-content-center">
        {{ products.links|raw }}
    </div>
</div>