url = "/sitemap.xml"
title = "Sitemap"

[collection pages]
handle = "Content\Page"

[collection events]
handle = "Content\Event"

[collection products]
handle = "Content\Product"

[collection product_categories]
handle = "Content\Product\Category"

[global settings]
handle = "Content\Settings"
==
<?php
function onStart() {
    $this->setResponseHeader('Content-Type', 'application/xml');
}
?>
==
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
	{% for page in pages.where('exclude_in_sitemap', false).get() %}
		<url>
			{% if (settings.homepage.id == page.id) and (settings.homepage.slug == page.slug) %}
	    	<loc>{{ '/'|app }}</loc>
			{% else %}
			<loc>{{ 'page'|page({fullslug: (page.fullslug|length ? page.fullslug : page.slug) }) }}</loc>
			{% endif %}
	    	<lastmod>{{ 'now'|date('Y-m-d') }}</lastmod>
	    	<changefreq>daily</changefreq>
	    	<priority>0.8</priority>
	    </url>
	{% endfor %}
	{% for event in events.where('exclude_in_sitemap', false).get() %}
		<url>
	    	<loc>{{ 'event'|page({fullslug: event.fullslug}) }}</loc>
	    	<lastmod>{{ 'now'|date('Y-m-d') }}</lastmod>
	    	<changefreq>daily</changefreq>
	    	<priority>0.8</priority>
	    </url>
	{% endfor %}
	{% for product in products.where('exclude_in_sitemap', false).get() %}
		<url>
	    	<loc>{{ 'product'|page({fullslug: product.fullslug}) }}</loc>
	    	<lastmod>{{ 'now'|date('Y-m-d') }}</lastmod>
	    	<changefreq>daily</changefreq>
	    	<priority>0.8</priority>
	    </url>
	{% endfor %}
</urlset>