<h3 class="text-center mb-4">Page Results</h3>
<div class="row">
    {% for page in pages %}
        <div class="col-12 col-lg-4 mb-4">
            <div class="card h-100">
                {% if page.image|length %}
                    <a href="{{ 'page'|page({ fullslug: page.fullslug }) }}" class="card-img-top">
                        <img
                                src="{{ page.image|media|resize(700, 400, {mode: 'crop'}) }}"
                                alt="{{ page.title }}" class="card-img-top"
                        >
                    </a>
                {% endif %}
                {% if page.sharing_image|length %}
                    <a href="{{ 'page'|page({ fullslug: page.fullslug }) }}" class="card-img-top">
                        <img
                                src="{{ page.sharing_image|media|resize(700, 400, {mode: 'crop'}) }}"
                                alt="{{ page.title }}" class="card-img-top"
                        >
                    </a>
                {% endif %}
                <div class="card-body d-flex flex-column h-100 align-items-start">
                    <h3 class="text-decoration-none text-dark fs-5">
                        <a href="{{ 'page'|page({ fullslug: page.fullslug }) }}" class="text-decoration-none text-reset">{{ page.title }}</a>
                    </h3>
                    <p>{{ page.meta_description }}</p>
                    <a href="{{ 'page'|page({ fullslug: page.fullslug }) }}" class="btn btn-primary mt-auto">Open</a>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="col-12 d-flex justify-content-center">
        {{ pager(pages, { withQuery: true }) }}
    </div>
</div>
{% if pages is empty %}
    <div class="card bg-light mb-4">
        <div class="card-body text-center">
            There are no pages for your search.
        </div>
    </div>
{% endif %}