[collection posts]
handle = "Blog\Posts"
==
{% set sort_order = column.reverse_order ? 'desc' : 'asc' %}

{% if column.show_specific_items %}
    {% set posts = collect() %}
    {% for post in column.specific_items %}
        {% if post.item is not empty %}
            {% do posts.push(post.item) %}
        {% endif %}
    {% endfor %}
{% endif %}

{% if column.filter_by_category %}
    {% set posts = posts.whereRelation('categories', 'id', column.post_category_filter.id) %}
{% endif %}

{% if column.sort_by == 'title' %}
    {% if column.show_specific_items %}
        {% if sort_order == 'asc' %}
            {% set posts = posts.sortBy('title') %}
        {% else %}
            {% set posts = posts.sortBy('title')|reverse %}
        {% endif %}
    {% else %}
        {% set posts = posts.orderBy('title', sort_order) %}
    {% endif %}
{% endif %}

{% if column.sort_by == 'date' %}
    {% if column.show_specific_items %}
        {% if sort_order == 'asc' %}
            {% set posts = posts.sortBy('published_at_date') %}
        {% else %}
            {% set posts = posts.sortBy('published_at_date')|reverse %}
        {% endif %}
    {% else %}
        {% set posts = posts.orderBy('published_at_date', sort_order) %}
    {% endif %}
{% endif %}

{% if column.enable_pagination %}
    {% set posts = posts.paginateCustom(column.limit, "posts") %}
{% else %}
    {% if not column.show_specific_items %}
        {% set posts = posts.limit(column.limit).get() %}
    {% endif %}
{% endif %}

<div class="row row-cols-lg-{{ column.enable_pagination ? column.limit }}">
    {% for post in posts %}
        <div class="col{{ column.show_specific_items ? '-12 col-lg-' ~ column.specific_items_columns : (column.limit > 4 ? "-12 col-lg-3")  }} mb-4">
            <div class="card h-100">
                <a href="{{ 'post'|page({ slug: post.slug }) }}" class="card-img-top">
                    {% if post.image|length %}
                    <img
                            src="{{ post.image|media|resize(700, 400, {mode: 'crop'}) }}"
                            alt="{{ post.title }}" class="card-img-top"
                    >
                    {% endif %}
                </a>
                <div class="card-body d-flex flex-column h-100 align-items-start">
                    <h3 class="text-decoration-none text-dark fs-5">
                        <a href="{{ 'post'|page({ slug: post.slug }) }}" class="text-decoration-none text-reset">{{ post.title }}</a>
                    </h3>
                    {% if post.author|length %}
                        <a class="d-flex text-decoration-none text-dark mb-2" href="{{ 'author'|page({slug: post.author.slug}) }}">
                            {% if post.author.avatar|length %}
                                <img class="rounded-circle me-1" width="25px" src="{{ post.author.avatar|media|resize(25, 25, {mode: "crop"}) }}" alt="{{ post.author.title }}">
                            {% endif %}
                            <div>
                                <span class="fs-6">By <span class="fw-semibold">{{ post.author.title }}</span></span>
                            </div>
                        </a>
                    {% endif %}
                    <p>{{ post.excerpt }}</p>
                    <a href="{{ 'post'|page({ slug: post.slug }) }}" class="btn btn-primary mt-auto">Read</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% if column.enable_pagination %}
    <div class="d-flex justify-content-center">
        {{ posts.links|raw }}
    </div>
{% endif %}