{% set fields = content.form.fields %}
<form data-request="{{ genericForm }}::onFormSubmit" data-request-data="form_id: {{ content.form.id }}">
    
    {{ form_token() }}
    
    <div id="{{ genericForm }}_forms_flash"></div>
    
    <div class="row">
        {% for field in fields %}
            <div class="col-lg-{{ field.attributes.width == 'half_width' ? '6' : '12' }} mb-2">
                {% if field.attributes.field_type == 'text' %}
                    <label class="form-label" for="{{ field.slug }}">{{ field.label }}</label>
                    <input
                            type="text"
                            id="{{ field.slug }}"
                            name="{{ field.slug }}"
                            class="form-control"
                    >
                {% endif %}
                {% if field.attributes.field_type == 'email' %}
                    <label class="form-label" for="{{ field.slug }}">{{ field.label }}</label>
                    <input
                            type="email"
                            id="{{ field.slug }}"
                            name="{{ field.slug }}"
                            class="form-control"
                            {{ field.attributes.required == true ? 'required' }}
                    >
                {% endif %}
                {% if field.attributes.field_type == 'textarea' %}
                    <label for="{{ field.slug }}">{{ field.label }}</label>
                    <textarea
                            name="{{ field.slug }}"
                            class="form-control"
                            placeholder="Leave a comment here"
                            id="{{ field.slug }}"
                            {{ field.attributes.required == true ? 'required' }}
                            
                    ></textarea>
                {% endif %}
                {% if field.attributes.field_type == 'checkbox' %}
                    <div class="form-check">
                        <input
                                name="{{ field.slug }}"
                                class="form-check-input"
                                type="checkbox"
                                id="{{ field.slug }}"
                                {{ field.attributes.required == true ? 'required' }}
                        >
                        <label class="form-check-label" for="{{ field.slug }}">
                            {{ field.label }}
                        </label>
                    </div>
                {% endif %}
                {% if field.attributes.field_type == 'select' %}
                    <label class="form-label" for="{{ field.slug }}">{{ field.label }}</label>
                    <select
                            name="{{ field.slug }}"
                            class="form-select"
                            aria-label="{{ field.label }}"
                            id="{{ field.slug }}"
                            {{ field.attributes.required == true ? 'required' }}
                    >
                        {% for option in field.options %}
                            <option value="{{ option.slug }}" selected>{{ option.label }}</option>
                        {% endfor %}
                    </select>
                {% endif %}
                {% if field.attributes.field_type == 'file' %}
                    <label for="{{ field.slug }}" class="form-label">{{ field.label }}</label>
                    <input
                            name="{{ field.slug }}"
                            class="form-control"
                            type="file"
                            id="{{ field.slug }}"
                            {{ field.attributes.required == true ? 'required' }}
                    >
                {% endif %}
            </div>
        {% endfor %}
    </div>
    
    {% if form.enable_recaptcha == true %}
        <div class="form-group">
            {% partial 'components/recaptcha' %}
        </div>
    {% endif %}
    
    <button id="form-{{ genericForm }}" type="submit" class="btn btn-primary">Submit</button>

</form>